<div class="main">
  <div class="contain">
  <h2 style="color: BLACK; text-align: center; font-weight: 500;font-size:200%;">{{ header }}</h2>

  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="" style="color: BLACK; text-align: center; font-weight: 500;font-size:100%;">IP Address</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ipAddress"
        name="ipAddress"
      />
    </div>
    <!-- <div [style.visibility]="'hidden'" class="form-group">
      <label for="">Id</label>
      <input type="text" class="form-control" [(ngModel)]="id" name="id" />
    </div> -->

    
      <button type="submit"  style="
      background-color: #7c2855;
        float: center;
        color: white;
        margin:5px;
        width: 130px;
        text-align: center;
      " mat-raised-button >Save</button>
      <h2>{{detail}}</h2>
   
  </form>
  <button id="fetchID" mat-raised-button (click)="fetchApi()" >Fetch</button>

</div>
</div>