<div class="main">
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-12">
        <div>
          <h2
          style="color: BLACK; text-align: center; font-weight: 500;font-family:verdana;font-size:200%;"
          >
           COLLECTING INSURANCE CLAIMS
          </h2>
        </div>
        <div id="emp">
          <form [formGroup]="messengerForm" ngNativeValidate (ngSubmit)="submit()">
            <label style="margin-right: 10px;">Envelopes Submitted </label>
            <input
              class="mat-elevation-z2"
              type="hidden"
              formControlName="claims"
            />
            <input
              class="mat-elevation-z2"
              type="number"
              formControlName="claims"
              placeholder="Envelopes Submitted"
              readonly
            />
            <br />
            <label style="padding-right: 10px;">Envelope Collected </label>

            <input
              class="mat-elevation-z2"
              type="number"
              formControlName="received"
              min="1"
              placeholder="Envelope received "
              required
              (change)="checkData()"
            />
            <br />
            
            <button mat-raised-button class="card" type="submit">
              Submit
            </button>
            <div id="displayWarning"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
